{% extends 'base.html' %}
{% block content %}
  {% if orders %} 
  <br>
    <h3>Order History</h3>
    <br>
    <form method="get" action="{% url 'admin_order_details' %}">
      <div class="mb-3">
        <label for="statusFilter" class="form-label">Filter by Status:</label>
        <select id="statusFilter" name="status" class="form-select" style="width: 150px;">
          <option value="" {% if not status_filter %}selected{% endif %}>All</option>
          <option value="ordered" {% if status_filter == 'ordered' %}selected{% endif %}>Ordered</option>
          <option value="paid" {% if status_filter == 'paid' %}selected{% endif %}>Paid</option>
          <option value="cancelled" {% if status_filter == 'cancelled' %}selected{% endif %}>Cancelled</option>
          <option value="completed" {% if status_filter == 'completed' %}selected{% endif %}>Completed</option>
        </select>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
      </div>
    </form>
    <br>

    <div class="table-responsive" style="width: 70%; margin: auto;">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Order ID</th>
            <th>Placing Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.pk }}</td>
              <td>{{ order.date_placed|date:"F j, Y P" }}</td>
              <td>{{ order.status }}</td>
              <td>
                <form action="{% url 'admin_order_details' %}?order_id={{ order.pk }}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">View Details</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No previous orders found.</p>
  {% endif %}
{% endblock %}
