{% extends 'base.html' %}
{% block content %}
    {% if item%}
        <div class="card mx-3 mb-3" style="width: 18rem;">
            <img src="{{ item.photo.url }}" alt="{{ item.title }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">Price: {{ item.price }}</p>
                <p class="card-text">{{ item.description }}</p>
                {% if user.is_staff %}
                    <form action="{% url 'item' %}" method="get">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <div class="btn-group" role="group" aria-label="Item Actions">
                            <button type="submit" class="btn btn-primary"  style="width: 8rem;">Update</button>
                        </div>
                    </form>
                {% else %}
                    {% if item.is_available %}
                        <form action="{% url 'cart' %}?item_id={{ item.id }}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-primary add-to-cart" data-item-id="{{ item.id }}">Add To Cart</button>
                        </form>
                    {% else %}
                        <p style="color: red;">Item not available</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
{% endblock %}
