{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Item Form</h2>
    <form method="post" enctype="multipart/form-data" class="border p-4 rounded" action="{% url 'item' %}">  
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item_id }}">
    
      <div class="mb-3">
          <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
          {{ form.title }}
          {% if form.errors.title %}
              <p class="text-danger">{{ form.errors.title.0 }}</p>
          {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
        {{ form.description }}
        {% if form.errors.description %}
            <p class="text-danger">{{ form.errors.description.0 }}</p>
        {% endif %}
      </div>
      
      <div class="mb-3">
        <label for="{{ form.price.id_for_label }}" class="form-label">Price</label>
        {{ form.price }}
        {% if form.errors.price %}
            <p class="text-danger">{{ form.errors.price.0 }}</p>
        {% endif %}
      </div>
      
      <div class="mb-3 form-check">
        {{ form.is_available }}
        <label class="form-check-label" for="{{ form.is_available.id_for_label }}">Is Available</label>
      </div>
      
      <div class="mb-3">
        <label for="{{ form.photo.id_for_label }}" class="form-label">Photo</label>
        {{ form.photo }}
      </div>
      
      <div class="mb-3">
        <label for="{{ form.categories.id_for_label }}" class="form-label">Categories</label>
        {{ form.categories }}
        {% if form.errors.categories %}
            <p class="text-danger">{{ form.errors.categories.0 }}</p>
        {% endif %}
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
